<!DOCTYPE html>
<head>
        <title><%= team[1] %></title>
	<link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>
<body>

<div class="nav">
        <ul class = "navbar">
        <li id="nav-name">NBA Stat Tracker</li>
        <li><a href="/">Home</a></li>
        <li><a href="/findPlayer">Find a Player</a></li>
        <li><a href="/comparePlayers">Compare Players</a></li>
        <li><a href="/standings">Standings</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/seasons">Seasons</a></li>
        </ul>
</div>
	<p><a href="/teams">Back to Franchise Index</a></p>
        <h1><%= team[1] %> Index</h1>
	<div class='seasons'>
	<h2>Seasons</h2>
	<%seasons.forEach(function(season){%>
	<p><a href="/team/<%= team[0] %>/<%= season["year"] %>"><%= season["year"] %></a><p>
	<%})%>
	</div>
</body>
