<!DOCTYPE html>
<html>
        <head>
                <title>NBA Standings</title>
		<link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>
<body>

<div class="nav">
        <ul class = "navbar">
        <li id="nav-name">NBA Stat Tracker</li>
        <li><a href="/">Home</a></li>
        <li><a href="/findPlayer">Find a Player</a></li>
        <li><a href="/comparePlayers">Compare Players</a></li>
        <li><a href="/standings">Standings</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/seasons">Seasons</a></li>
        </ul>
</div>

                <h1>NBA Standings</h1>
                <br>
		<div id='east'>
		<h2>Eastern Conference</h2>
		<table>
			<tr>
			<th>Team</th><th>W-L</th>
			<th>Win %</th><th>Last 10</th><th>Streak</th>
			</tr>
			<% east.forEach(function(team) { %>
			<tr>                	
			<td><%= team['W-L'] %></td>
			<td><%= team['PCT'] %></td>
			<td><%= team['GB'] %></td>
			<td><%= team['STRK'] %></td>
			<td><%= team['12'] %></td>
			</tr>
                	<% }) %>
                </table>
		</div>
		<br>
		<div id='west'>
		<h2>Western Conference</h2>
		<table>
                        <tr>
                        <th>Team</th><th>W-L</th>
                        <th>Win %</th><th>Last 10</th><th>Streak</th>
                        </tr>
                        <% west.forEach(function(team) { %>
                        <tr>
                        <td><%= team['W-L'] %></td>
                        <td><%= team['PCT'] %></td>
                        <td><%= team['GB'] %></td>
                        <td><%= team['STRK'] %></td>
                        <td><%= team['12'] %></td>
                        </tr>
                        <% }) %>
                </table>
		</div>
                <br>
                <a href='/'>Home</a>
        </body>
</html>

